<section class="header">
  <h2 class="subtitle"><%= subtitle %></h2>
    <nav>
      <%= link_to link_1, path %>
      <%= link_to link_2, path_2 %>
      <%= link_to link_3, path_3 %>
    </nav>
</section>