<% @merchants.each do |merchant| %>
  <p><%= link_to merchant.name, admin_merchant_path(merchant) %></p>
    <div id="merchant_<%= merchant.id %>">
      <% if merchant.status == 'enabled' %>
        <%= button_to "Disable #{merchant.name}", admin_merchant_path(merchant), method: :patch, params: {status: "disabled" } %>

      <% else %>
        <%= button_to "Enable #{merchant.name}", admin_merchant_path(merchant), method: :patch, params: {status: "enabled" } %>
      <% end %>
    </div> 
<% end %>