<p>Item Threshold: <%= @discount.threshold %></p>
<p>Discount Percentage: <%= @discount.discount_percentage %></p>
<%= link_to 'Edit Discount', edit_merchant_bulk_discount_path(@merchant, @discount) %>